*{
    margin: 0px;
    padding: 0px;
}





/* #navbar{
    display: flex;
    justify-content:center;
    gap: 60px;
    list-style: none;
    
}
#navbar li a{
    text-decoration: none;
    color: red;
}
#boxes{
    display: flex;
    justify-content: center;
     flex-wrap: wrap;
}
#boxes div{
    width: 200px;
    height: 200px;
    border: 1px solid black;

}
 */


 #toppart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
 }
 #toppart img{
    width: 50px;
    margin: 10px;

 }
 #toppart nav ul {
    display: flex;
    gap: 150px;
    list-style: none;
 }
 #toppart nav ul li a{
    text-decoration: none;
    color: brown;
 }

 #toppart button{
    margin: 20px;
 }


